:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white)
}
.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-exchange {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey);
}
.main-currency-table,
.main-comission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-currency-table .table-title,
.main-comission-table .table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
}
.main-currency-table .currency__title {
    color: var(--bitcoin-orange);
}
.main-comission-table .comission__title {
    color: var(--secondary-blue);
}
.currency-table__container,
.comission-table__container {
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
}
.currency-table__container .table,
.comission-table__container .table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--just-white);
    border-radius: 15px;
    column-gap: 1px;
    row-gap: 1px;
}
.table .table__top-left,
.comission-table__container .table__top-left {
    border-top-left-radius: 15px;
}
.currency-table__container .table__top-right,
.comission-table__container .table__top-right {
    border-top-right-radius: 15px;
}
.currency-table__container .table__bottom-left,
.comission-table__container .table__bottom-left {
    border-bottom-left-radius: 15px;
}
.currency-table__container .table__bottom-right,
.comission-table__container .table__bottom-right {
    border-bottom-right-radius: 15px;
}
.table div {
    padding: 10px 12px;
    font-size: 1.6rem;
    line-height: 19.3px;
    color: #B5B0AC;
    text-align: start;
    border: 0.1px solid var(--grey);
}
.table .table__right {
    font-size: 1.4rem;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #757575;
    display: flex;
    justify-content: space-between;
}
.table .table__right-comission {
    font-size: 1.4rem;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #757575;
    display: flex;
    justify-content: center;
}

.table__right .down {
    width: 20px;
    height: auto;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.table__right .up {
    width: 20px;
    height: auto;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.table__message{
    width: 219px;
    margin-top: 1.6rem;
    padding: 0.8rem;
    display: inline-block;
    height: 31px;
    border-radius: 8px;
}
.table__message p {
    color: var(--warm-black);
    margin: 0;
    font-size: 1.2rem;
    line-height: 14.52px;
}
.currency-color {
    background-color: var(--soft-orange);
}
.comission-color {
    background-color: var(--soft-blue);
}