:root {
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201e1c;
    --black: #282623;
    --grey: #bababa;
    --dark-grey: #808080;
    --off-white: #faf8f7;
    --just-white: #fff;
    --basic-purple: #5e17a1;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    align-self: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white)
}
.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header__button {
    position: absolute;
    left: calc(50% - 118px);
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('./assets/icons/down-arrow.svg');
}
main {
    width: 100%;
    min-width: 320px;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-exchange {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url(./assets/img/bitcoin.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: var(--grey);
}
.content-currency-table,
.content-commission-table {
    display: flex;
    justify-content: center;
}
.currency-table__row,
.commission-table__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.currency-table__row span,
.commission-table__row span {
    width: 12px;
    height: 12px;
    background: url('./assets/icons/right-arrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.currency-table__row .row-right:active {
    background-color: var(--soft-orange);
}
.commission-table__row .row-left {
    transform: rotate(180deg);
}
.commission-table__row .row-left:active {
    background-color: var(--soft-blue);
}
.main-currency-table,
.main-commission-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-currency-table .table-title,
.main-commission-table .table-title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
}
.main-currency-table .currency__title {
    color: var(--bitcoin-orange);
}
.main-commission-table .commission__title {
    color: var(--secondary-blue);
}
.currency-table__container,
.commission-table__container {
    display: flex;
    justify-content: center;
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    margin: 0 auto;
}
.currency-table__container .table,
.commission-table__container .table {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--just-white);
    border-radius: 15px;
    column-gap: 1px;
    row-gap: 1px;
}
.table .table__top-left,
.commission-table__container .table__top-left {
    border-top-left-radius: 15px;
}
.currency-table__container .table__top-right,
.commission-table__container .table__top-right {
    border-top-right-radius: 15px;
}
.currency-table__container .table__bottom-left,
.commission-table__container .table__bottom-left {
    border-bottom-left-radius: 15px;
}
.currency-table__container .table__bottom-right,
.commission-table__container .table__bottom-right {
    border-bottom-right-radius: 15px;
}
.table div {
    padding: 10px 12px;
    font-size: 1.6rem;
    line-height: 19.3px;
    color: #B5B0AC;
    text-align: start;
    border: 0.1px solid var(--grey);
}
.table .table__right {
    font-size: 1.4rem;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #757575;
    display: flex;
    justify-content: space-between;
}
.table .table__right-commission {
    font-size: 1.4rem;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #757575;
    display: flex;
    justify-content: center;
}

.table__right .down {
    width: 20px;
    height: auto;
    background-image: url(./assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.table__right .up {
    width: 20px;
    height: auto;
    background-image: url(./assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.table__message{
    width: 219px;
    margin-top: 1.6rem;
    padding: 0.8rem;
    display: inline-block;
    height: 31px;
    border-radius: 8px;
}
.table__message p {
    color: var(--warm-black);
    margin: 0;
    font-size: 1.2rem;
    line-height: 14.52px;
}
.currency-color {
    background-color: var(--soft-orange);
}
.commission-color {
    background-color: var(--soft-blue);
}
.main-product-detail {
    position: relative;
    background-color: var(--warm-black);
    color: var(--just-white);
    height: auto;
}
.product-detail__batata-logo {
    width: 40px;
    height: 24px;
    background: url('./assets/icons/batata.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: calc(0% - 12.5px);
	left: calc(50% - 20px);
}
.product-detail__title,
.plans__title{
    padding-top: 64px;
    text-align: center;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.product-detail__title h2,
.plans__title h2{
    font-size: 2.4rem;
    line-height: 2.6rem;
    padding-bottom: 24px;
}
.product-detail__title p,
.plans__title p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--dark-grey);
    font-weight: 500;
}
.product-cards__container {
    padding: 32px 0px;
}
.product-detail__card {
    background-color: #282623;
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 16px;
    padding: 16px 16px 22px;
    text-align: start;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
    border-radius: 4px;
}
.product-detail__card span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.clock {
    background: url('./assets/icons/clock.svg');
}
.eye {
    background: url('./assets/icons/eye.svg');
}
.check-circle {
    background: url('./assets/icons/check-circle.svg');
}
.dollar-sign {
    background: url('./assets/icons/dollar-sign.svg');
}
.product__card-title {
    margin: 12px 0;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
}
.product__card-body {
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: var(--dark-grey);
    font-weight: 500;
}
.bitcoin-img-container {
    width: 100%;
    height: 50vh;
    background: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bitcoin-img-container h2 {
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: 700;
    color: var(--just-white);
    padding-top: 64px;
    width: 288px;
    margin: 0 auto;
    text-align: center;
}
.main-plans-container {
    width: 100%;
    min-width: 320px;
    background-color: #E5E5E5;
    padding-bottom: 50px;
}
.plans-container__slider {
    box-sizing: border-box;
    padding: 50px 20px 20px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container__slider::-webkit-scrollbar {
    display: none;
}
.plans-container__card,
.plans-basic-container__card,
.plans-premium-container__card {
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    box-sizing: border-box;
    padding: 16px;
    margin: 0;
    text-align: center;
    border-radius: 8px;
}
.plans-container__card {
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(95, 73, 11, 0.89);
}
.plans-basic-container__card {
    background-color: var(--warm-black);
    color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(73, 12, 88, 0.897);
}
.plans-premium-container__card {
    background-color: var(--just-white);
    box-shadow: 0px 4px 8px rgba(9, 81, 122, 0.897);
}
.plans-container__card .recommended,
.plans-basic-container__card .basic,
.plans-premium-container__card .premium {
    margin: 0;
    width: 96px;
    position: absolute;
    top: calc(0% - 7%);
    left: calc(50% - 48px);
    padding: 8px;
    color: var(--just-white);
    border-radius: 8px;
    font-size: 1.2rem;
    line-height: 1.5rem;
}
.plans-container__card .recommended {
    background: linear-gradient(360deg, var(--bitcoin-orange), var(--warm-black));
}
.plans-basic-container__card .basic {
    background: linear-gradient(360deg, var(--basic-purple), var(--warm-black));
}
.plans-premium-container__card .premium {
    background: linear-gradient(360deg, var(--secondary-blue), var(--warm-black));
}
.plans-container__card .plan-card__title,
.plans-basic-container__card .plan-basic-card__title,
.plans-premium-container__card .plan-premium-card__title {
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    margin: 16px 0 8px;
}
.plan-info-container .plan-card__price,
.plan-basic-info-container .plan-basic-card__price,
.plan-premium-info-container .plan-premium-card__price {
    position: relative;
    display: inline-block;
    font-size: 5.2rem;
    line-height: 6.3rem;
    font-weight: 700;
}
.plan-info-container .plan-card__price span,
.plan-basic-info-container .plan-basic-card__price span,
.plan-premium-info-container .plan-premium-card__price span {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    position: absolute;
    top: 15px;
    left: -8px;
}
.plan-info-container .plan-card__saving,
.plan-basic-info-container .plan-basic-card__saving,
.plan-premium-info-container .plan-premium-card__saving {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #757575;
    margin: 16px 0;
}
.plan-info-container .plan-card__ca,
.plan-basic-info-container .plan-basic-card__ca,
.plan-premium-info-container .plan-premium-card__ca {
    background: #FAF8F7;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 700;
    color: var(--warm-black);
    width: 150px;
    height: 48px;
    border-radius: 4px;
}
.plan-info-container .plan-card__ca {
    border: 2px solid var(--bitcoin-orange);
    box-shadow: 0px 4px 8px rgba(95, 73, 11, 0.89);
}
.plan-basic-info-container .plan-basic-card__ca {
    border: 2px solid var(--basic-purple);
    box-shadow: 0px 4px 8px rgba(73, 12, 88, 0.897);
}
.plan-premium-info-container .plan-premium-card__ca {
    border: 2px solid var(--secondary-blue);
    box-shadow: 0px 4px 8px rgba(9, 81, 122, 0.897);
}

.plan-info-container .plan-card__ca span,
.plan-basic-info-container .plan-basic-card__ca span,
.plan-premium-info-container .plan-premium-card__ca span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('./assets/icons/orange-right-arrow.svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    vertical-align: text-bottom;
}
footer {
    background: #F7931A;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 0;
}

footer section ul {
    list-style-type: none;
}

footer section ul li {
    margin-bottom: 8px;
}

footer section ul li a{
    color: var(--just-white);
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
}